#detox{
    background-image: url("img/detox.jpg");
    height: 20rem;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#favo{
    background-image: url("img/smoothiepack.png");
    height: 20rem;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5%;
}
.lien{
    background: #FF9494;
    border-radius: 42px;
    width: 150px;
    height: 75px;
}
.lien a{
    color: white;
    font-family: Luckiest Guy;
    font-size: 1rem;
    line-height: 5rem;
    text-align: center;
    text-decoration: none;
}
.heart{
    width: 10%;
    padding-right: 1%;
}

#smoothies article .panier{
    position: absolute;
    z-index: 1;
    top:1%;
    left:10%;
    font-size: 2rem;
    color: white;
    font-family: Luckiest Guy;
}
#smoothies article .panier img{

    width: 20%;
    height: 15%;

}
#smoothies article .coeur{
    position: absolute;
    z-index: 1;
    width: 10%;
    height: 10%;
    right: 5%;
    top:5%;
}
